@mixin contenedor($margin:190px) {
    width: 80%;
    margin: $margin auto;
}

/////////////////////BTN
//ctaShop
@mixin ctaShop {
    padding: 1.3em 3em;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: color(textWhite);
    background-color: color(textBlack);
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    &.ctaShop:hover {
        background-color: color(textWhite);
        box-shadow: 0px 0px 5px color(textWhite);
        color: color(textBlack);
        transform: translateY(-7px);
    }
    &.ctaShop:active {
        transform: translateY(-1px);
    }
}
//btnRatio
@mixin btnRatio {
    width: 100%;
    height: 30px;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid color(bgBlack);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: color(bgBlack);
    &.btnRatio::before {
        content: '';
        width: 0;
        height: 1800%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: color(bgBlack);
        transition: .5s ease;
        display: block;
        z-index: -1;
    }
    &.btnRatio:hover::before {
        width: 105%;
    }
    &.btnRatio:hover {
        color: color(bgWhite);
    }
}
//btn Carta
@mixin cartaBtn {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 8px 10px;
    background: color(bgBlack);
    color: color(textWhite);
    max-height: 40px;
    border: 1px solid color(bgBlack);
    margin: 10px;
    transition: all 0.3s ease 0s;
    &.cartaBtn:hover{
        border: 1px solid color(bgBlack);
        background-color: color(bgWhite);
        color: color(textBlack)
    }
}
//btnArrina
@mixin btnArriba {
    background-repeat:no-repeat;
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 5px 10px 30px 10px;
    background-color: color(bgBlack);
    border-radius: 50px;
    color: color(bgWhite);
    cursor:pointer;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:2;
}
@mixin btnCarritoList {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        padding: 8px 10px;
        background: color(bgBlack);
        color: color(textWhite);
        max-height: 40px;
        border: 1px solid color(bgBlack);
    }
//btn Vaciar Carrito
@mixin btnBorrar {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 8px 10px;
    background-color: #fff;
    color: #ff0000;
    max-height: 40px;
    border: 1px solid #ff0000;
    &.btnBorrar:hover{
        background-color: #ff0000;
        color: #fff;
        border: #ff0000;
        transition: all 0.3s ease-in;
    }
}
/////////////////////INPUTS
//input Search
@mixin inputSearch {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    border: 2px solid transparent;
    border-bottom:solid 1px color(bgBlack);
    outline: none;
    background-color: color(textWhite);
    color: color(textBlack);
    transition: .3s ease;
    &.inputSearch::placeholder {
        color: #9e9ea7;
    }
    &.inputSearch:focus, &.inputSearch:hover {
        outline: none;
        border:solid 1px color(bgBlack);
        background-color: #fff;
    }
}

/////////////////////CARDS
//Cards Producto
@mixin cartaProducto {
    background-color: color(textWhite);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    min-width: 250px;
    min-height: 364px;
    .cartaImg{
        width: 100%;
        object-fit: cover;
        object-position: center;
        padding: 1rem;
    }
    .cartaTitulo {
        color: #1d1d1f;
        padding: 10px 15px 0px 14px;
        margin: 15px 0px 0px 0px;
    }
    .cartaDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 15px;
        p{
            padding: 10px;
            margin: 10px 5px;
        }
        .cartaBtn {
            @include cartaBtn
        }
    }
    }
//Card Carrito
@mixin cartaCarrito {
    
    img {
        width: 30px;
    }
    p{
        margin-bottom: 0;
    }
    .carritoBorrar {
        border: none
    }
    .carritoTrash {
        border: solid 1px color(colorRed);
        padding: 3px;
        height: 20px;
        width: 20px;
    }
}

/////////////////////TEXT
// Text formato //
@mixin h1-style {
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}
@mixin h2-style {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
@mixin h3-style {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
@mixin h4-style {
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
@mixin h5-style {
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
@mixin p-style {
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
}