footer {
    a{
        color: color(textBlack);
        text-decoration: underline;
    }
    a:hover{
        color: color(textBlack);
    }
    img {
        width: 25px;
        height: 25px;
    }
}